.project {
  display: flex;
  max-width: 90%;
  margin: 30px auto;
  border: 1px solid black;
  border-radius: 8px;
  min-height: 500px;
  overflow: hidden;
  border-bottom: 1px solid black;
  text-align: center;
  flex-wrap: wrap;
}

.project:hover {
  transform: translate3d(0, -5px, 0);
  box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease;
}
.project-description {
  width: 60%;
}

.description {
  font-size: 20px;
  padding: 5px 10px;
}
.project-picture {
  width: 40%;
  display: flex;
  align-items: center;
}

.project img {
  width: 95%;
  margin: 0 auto;
  height: 400px;
}

.project ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 54%;
  margin: 0 auto;
}
.project ul li {
  padding: 5px 8px;
  border-radius: 3px;
  margin: 5px;
  background-color: #4c5357;
  color: white;
}

.project-title {
  font-size: 1.6rem;
}

.description-content {
  margin-top: 50px;
}

.links {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.links a {
  text-decoration: none;
  color: #797878;
  font-size: 18px;
  padding: 10px 0;
  position: relative;
}
.links a:active,
.links a:hover {
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
  transition-duration: 1s;
}
.demo,
.source {
  margin: 10px;
}

@media (max-width: 1100px) {
  .project {
    align-items: center;
    justify-content: center;
  }
  .project-picture {
    width: 100%;
  }
  .project-title {
    margin-bottom: 10px;
    font-size: 20px;
  }

  .project-picture img {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .project-description {
    width: 100%;
  }
  .description-content {
    margin-top: 0;
  }
  .project ul {
    width: 90%;
    padding: 0;
    justify-content: center;
    font-size: 12px;
  }
  .project ul li {
    margin: 10px;
  }
}

@media (max-width: 800px) {
  .description {
    font-size: 16px;
  }
  .links {
    width: 90%;
  }
  .demo,
  .source {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .project-picture img {
    height: 260px;
  }
}
