@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #fcf6f5ff;
  min-width: fit-content;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
}

h1,
h2 {
  font-weight: 200;
  margin: 0.4rem;
}

h2 {
  font-size: 2rem;
}

.txt-type > .txt {
  border-right: 0.2rem solid #777;
}
