@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  background-color: #fcf6f5ff;
  height: 100vh;
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
}

h1,
h2 {
  font-weight: 200;
  margin: 0.4rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

.txt-type > .txt {
  border-right: 0.2rem solid #777;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.navigation ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.navigation ul li {
  margin: 0 10px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 8px;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
}

@media (max-width: 800px) {
  .hero {
    padding: 0 1rem;
  }
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}
