header {
  background: linear-gradient(
      0deg,
      rgba(97, 93, 108, 0.9),
      rgba(97, 93, 108, 0.1)
    ),
    url('../../pictures/Header.jpg') center;
  background-size: cover;
  position: relative;
  color: white;
}

.profile img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.hero {
  padding: 30px;
  color: white;
  text-align: center;
  height: 300px;
  position: relative;
}

.hero h1 {
  font-size: 50px;
}

@media (max-width: 800px) {
  .hero h1 {
    font-size: 35px;
  }
}
@media (max-width: 650px) {
  .hero h1 {
    font-size: 35px;
  }
}

@media (max-width: 380px) {
  .hero h1 {
    font-size: 15px;
    width: 100%;
  }
}
