footer {
  margin-top: 50px;
  padding: 5px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.footer-icons {
  font-size: 20px;
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-icons a {
  text-decoration: none;
  color: black;
  margin: 0 8px;
}

.footer-text {
  display: flex;
  justify-content: flex-end;
  width: 70%;
}

.heart {
  color: darkred;
}

@media (max-width: 700px) {
  .footer-icons,
  .footer-text {
    width: 100%;
  }

  .footer {
    justify-content: center;
  }
  .footer-text p {
    width: 100%;
    text-align: center;
  }

  .footer-icons {
    justify-content: center;
  }
}
