footer {
  margin-top: 50px;
  padding: 20px 0;
}
.footer-icons {
  font-size: 20px;
  width: 15%;
  margin-left: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-icons a {
  text-decoration: none;
  color: black;
  margin: 0 8px;
}

footer {
  display: flex;
}

.footer-text {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 30px;
}

.heart {
  color: darkred;
}
